$image-width:600px;
@keyframes animation-active-slider {
    0% {
        left: -$image-width;
        display: block;
    }
    100% {
        left: 0px;
    }
}

@keyframes animation-deactive-slider {
    0% {
        left: 0px;
    }
    100% {
        left: $image-width;
        display: none;
    }
}

//colors
$color_celeste_approx: #ccc;
$white: #fff;
$color_storm_dust_approx: #666;
$color_fuscous_gray_75_approx: rgba(80, 80, 80, 0.75);
.bx-wrapper {
    margin: 20px;
    position: relative;
    margin-bottom: 60px;
    padding: 0; //*zoom: 1;
    touch-action: pan-y; //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 5px $color_celeste_approx;
    border: 5px solid $white;
    background: $white;
    .bx-controls-direction {
        i {
            font-size: 25px;
            color: white;
        }
    }
    .item {
        position: absolute;
        width: 600px;
        z-index: 50;
        display: none; // &.active-left {
        //     animation: animation-active-slider 1s forwards;
        //     display: block;
        // }
        // &.deactive-left {
        //     display: block;
        //     animation: animation-deactive-slider 1s forwards;
        // }
        &.active-right {
            animation: animation-active-slider 1s forwards reverse;
            display: block;
        }
        &.deactive-right {
            display: block;
            animation: animation-deactive-slider 1s forwards reverse;
        }
    }
    img {
        max-width: 100%;
        display: block;
    }
    .bx-pager {
        text-align: center;
        font-size: .85em;
        font-weight: bold;
        color: $color_storm_dust_approx;
        padding-top: 20px;
        padding-bottom: 20px;
        &.bx-default-pager a {
            background: $color_storm_dust_approx;
            text-indent: -9999px;
            display: block;
            width: 100px;
            height: auto;
            margin: 0 5px;
            outline: 0; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 5px;
            opacity: 0.5;
            border-radius: 100%;
            &:hover {
                opacity: 1;
            }
            &.active {
                opacity: 1;
            }
            &:focus {
                opacity: 1;
            }
        }
    }
    .bx-pager-item {
        display: inline-block;
        vertical-align: bottom;
        font-size: 0;
        line-height: 0;
    }
    .bx-prev {
        left: 10px;
        &:hover {
            background-position: 0 0;
        }
        &:focus {
            background-position: 0 0;
        }
    }
    .bx-next {
        right: 10px;
        &:hover {
            background-position: -43px 0;
        }
        &:focus {
            background-position: -43px 0;
        }
    }
    .bx-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color_storm_dust_approx;
        background: $color_fuscous_gray_75_approx;
        width: 100%;
        span {
            color: $white;
            display: block;
            font-size: .85em;
            padding: 10px;
        }
    }
    .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        z-index: 9999;
        &.disabled {
            display: none;
        }
    }
    .bx-controls.bx-has-controls-auto.bx-has-pager {
        .bx-pager {
            text-align: left;
            width: 80%;
        }
        .bx-controls-auto {
            right: 0;
            width: 35px;
        }
    }
}

.bxslider {
    margin: 0;
    padding: 0;
}

ul.bxslider {
    list-style: none;
}