<div class="bx-wrapper" style="max-width: 600px;">
  <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 450px;">
    <div class="bxslider" style="width: auto; position: relative;">
      <div class="item active-right">
        <img src="/assets/images/coffee1.jpg" title="Funky roots">
        <div class="bx-caption">
          <span>Funky roots</span>
        </div>
      </div>
      <div class="item deactive-right">
        <img src="/assets/images/coffee2.jpg" title="The long and winding road">
        <div class="bx-caption">
          <span>The long and winding road</span>
        </div>
      </div>
      <div class="item">
        <img src="/assets/images/coffee3.jpg" title="Happy trees">
        <div class="bx-caption">
          <span>Happy trees</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bx-controls bx-has-controls-direction bx-has-pager">
    <div class="bx-controls-direction">
      <a class="bx-prev" href="">
        <i class="far fa-chevron-circle-left"></i>
      </a>
      <a class="bx-next" href="">
        <i class="far fa-chevron-circle-right"></i>
      </a>
    </div>
    <div class="bx-pager bx-default-pager">
      <div class="bx-pager-item">
        <a href="" data-slide-index="0" class="bx-pager-link active">
          <img src="/assets/images/coffee1.jpg" title="Funky roots">
        </a>
      </div>
      <div class="bx-pager-item">
        <a href="" data-slide-index="1" class="bx-pager-link">
          <img src="/assets/images/coffee2.jpg" title="Funky roots11">
        </a>
      </div>
      <div class="bx-pager-item">
        <a href="" data-slide-index="2" class="bx-pager-link">
          <img src="/assets/images/coffee3.jpg" title="Funky roots11">
        </a>
      </div>
    </div>
  </div>
</div>