<div class="item-property ">
    <img class="image" src="{{property.titleImage}}">
    <div class="text-info  d-flex ">
        <div class="service d-flex flex-column flex-grow-1">
            <h6> Services</h6>
            <div class="service-item">
                <i class="fas fa-bath"></i>
                <span>Bathroom :</span> {{property.bathroom}}
            </div>
            <div class="service-item">
                <i class="fas fa-bed"></i>
                <span>Bedroom :</span> {{property.bedroom}}
            </div>
            <div class="service-item">
                <i class="fas fa-chart-area"></i>
                <span>Area :</span> {{property.area}}
            </div>
        </div>
        <div class="right-block flex-grow-1">
            <div class="location-info">
                <h5>{{property.location.name}}</h5>
                <h6>{{property.location.number}}</h6>
            </div>
            <div class="price">
                <h5>{{property.price}}</h5>
                <h6>{{property.typeOperation}}</h6>
            </div>
        </div>
    </div>
</div>