.item-property {
    position: relative;
    max-width: 421px;
    z-index: 2;

    .image {
        display: block;
        max-width: 100%;
    }

    .text-info {
        z-index: 2;
        position: relative;
        background: white;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);

        .service {
            padding: 25px 10px 30px 18px;
            border-right: 1px solid #f5f5f5;

            h6 {
                margin: 0 0 12px;
                color: #ff5252;
                font-size: 15px;
                line-height: 1em;
                font-weight: 700;
                text-transform: uppercase;
            }

            .service-item {
                font-size: 13px;
                color: #595959;
                white-space: nowrap;

                i {
                    width: 22px;
                    color: #bdbdbd;
                }
            }
        }

        .right-block {
            .location-info {
                height: 111px;
                width: 100%;
                padding: 25px 20px 30px;
                border-bottom: 1px solid #f5f5f5;

                h5 {
                    font-size: 22px;
                    font-weight: 200;
                    color: #595959;
                }

                h6 {
                    font-size: 11px;
                    font-weight: 500;
                    color: #a5a5a5
                }
            }

            .price {
                padding: 16px 20px;

                h5 {
                    font-size: 14px;
                    font-weight: 700;
                    color: #595959;
                }

                h6 {
                    font-size: 10px;
                    font-weight: 500;
                    color: #a5a5a5
                }
            }
        }
    }
}

.item-property:after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 20px;
    width: 98%;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -moz-transition: all 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    z-index: 0;
}