// LINK BUTTON
a.link-button {
    color: #008489;
    font-weight: bold;
    cursor: pointer;
    font-weight: 600;
}

a.link-button:hover {
    color: #ff7272;
}

//FILLED BUTTON

a.qw-button{
    text-decoration: none;
    transition: all 0.18s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    text-align: center;
    background: #b71c1c;
    font-size: 14px;
    font-weight: 600;
    color: #fff !important;
    padding: 12px 15px 13px;
    border-radius: 3px;
    display: block;
    &.qw-red {
       // text-decoration: none;
       //transition: all 0.18s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        //text-align: center;
        background: #b71c1c;
       // font-size: 14px;
       // font-weight: 500;
        color: #fff !important;
       // padding: 12px 15px 13px;
       // border-radius: 3px;
       // display: block;
        //width: 114px;
    }
    &.qw-red:hover {
        background: #ff5252;
    }
    &.qw-red:active {
        background: #3c3c3c;
    }
}