.button-counter {
    white-space: nowrap;
    .block {
        border: 1px solid #ededed;
        font-weight: 300;
        display: inline-block;
        input {
            margin: 0; //height: 25px;
            border-radius: 0;
            border-top: 0 !important;
            border-bottom: 0 !important;
            border-left: 1px solid #ededed !important;
            border-right: 1px solid #ededed !important;
            vertical-align: top;
            display: inline-block;
            text-align: center;
            line-height: 1em; //width: 30px;
            height: 30px;
            width: 32px;
            padding: 0 3px;
            color: #545454;
            font-size: 14px;
        }
        .action {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            cursor: pointer;
            font-size: 22px;
            -webkit-transition: all 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
            -moz-transition: all 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
            transition: all 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
            vertical-align: top;
            display: inline-block;
            text-align: center;
            line-height: 1em;
            width: 30px;
            height: 30px;
            &.substract {
                padding-top: 3px;
            }
            &.add {
                padding-top: 3px;
            }
        }
    }
}