/* The cb-container */
.cb-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 19px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 16px;
}

/* Hide the browser's default checkbox */
.cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid #797979;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
   // background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .checkmark {
    border-color: rgb(0, 132, 137);
    background: rgb(0, 132, 137);
    color: white;
    font-size: 19px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {

    content: '\2714';
    //
    //!!!! content: '';
    //!!!!!background: url("https://developer.mozilla.org/files/4173/checkbox-sprite.png") no-repeat 0 0;
    //


    // left: 9px;
    // top: 5px;
    // width: 5px;
    // height: 10px;
    // //border: solid white;
    // border: solid #757575;
    // border-width: 0 3px 3px 0;
    // -webkit-transform: rotate(45deg);
    // -ms-transform: rotate(45deg);
    // transform: rotate(45deg);
}