* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    font-family: "Source Sans Pro", sans-serif;
    color: #757575;
    font-weight: 300; 
}

:focus {
    outline: 0;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0;
}

a {
    display: block;
    cursor: pointer;
}

input[type='text'],
textarea {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    //font-size: 14px;
    //font-weight: 400;
    color: #333;
}

textarea {
    height: 100%;
}

input[type='text']::placeholder,
textarea::placeholder {
    color: #a7a7a7;
}

input[type='text']:focus,
textarea:focus {
    border-color: rgba(66, 66, 66, 0.8);
    color: #424242;
}

.mmb {
    margin-bottom: 16px;
}

.mmr {
    margin-right: 8px;
}

.mmr-2
{
    margin-right: 32px;
}

.mmb-2 {
    margin-bottom: 32px;
}

.flex-1 {
    flex: 1;
}