//----------------------icon left\rigth----------------------
// .inner-addon input[type='text'] {
//     display: block;
//     width: 100%;
//     padding: 12px;
//     color: #555;
//     background-color: #fff; 
//     background-image: none;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-sizing: border-box;
// }
.inner-addon {
    position: relative;
}

// style glyph 
.inner-addon .fas {
    position: absolute;
    padding: 13px;
    pointer-events: none;
}

//align glyph 
.left-addon .fas {
    left: 0px;
}

.right-addon .fas {
    right: 0px;
}

//add padding 
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}