ng-select.ng-select-them-gray {
    // font-size: 14px;
    // font-weight: 400;
    input[type='text'] {
        padding: 0;
    }
    &.ng-select-opened>.ng-select-container {
        background: #fff;
        border-color: #b3b3b3 #ccc #d9d9d9
    }
    &.ng-select-opened>.ng-select-container:hover {
        box-shadow: none
    }
    &.ng-select-opened>.ng-select-container .ng-arrow {
        top: -2px;
        border-color: transparent transparent #999;
        border-width: 0 5px 5px
    }
    &.ng-select-opened>.ng-select-container .ng-arrow:hover {
        border-color: transparent transparent #666
    }
    &.ng-select-opened.ng-select-bottom>.ng-select-container {
        //border-bottom-right-radius: 0;
        //border-bottom-left-radius: 0;
    }
    &.ng-select-opened.ng-select-top>.ng-select-container {
        // border-top-right-radius: 0;
        // border-top-left-radius: 0
    }
    &.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
        //border-color: #007eff;
        //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1)
    }
    &.ng-select-disabled>.ng-select-container {
        background-color: #f9f9f9
    }
    .ng-has-value .ng-placeholder {
        display: none
    }
    .ng-select-container {
        //background-color: #fff;
        border-radius: 5px;
        border: 0;
        min-height: 44px;
        align-items: center;
        background: rgba(0, 0, 0, 0.1);
    }
    .ng-select-container:hover {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06)
    }
    .ng-select-container.ng-has-value {
        background: white;
    }
    .ng-select-container .ng-value-container {
        align-items: center;
        padding-left: 20px
    }
    .ng-select-container .ng-value-container .ng-placeholder {
        color: #6e6e6e
    }
    &.ng-select-single .ng-select-container {
        /* height: 36px */
        padding-top: 4px;
    }
    &.ng-select-single .ng-select-container .ng-value-container .ng-input {
        left: 0;
        padding-left: 10px;
        padding-right: 50px;
        top: 10px;
    }
    &.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value {
        background-color: #f9f9f9;
        border: 1px solid #e3e3e3
    }
    &.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value .ng-value-label {
        padding: 0px 5px
    }
    &.ng-select-multiple .ng-select-container .ng-value-container {
        padding-left: 7px;
        padding-top: 5px
    }
    &.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
        font-size: 0.9em;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: #f5faff;
        border-radius: 2px;
        border: 1px solid #c2e0ff
    }
    &.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled {
        background-color: #f9f9f9;
        border: 1px solid #e3e3e3
    }
    &.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label {
        padding-left: 5px
    }
    &.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
        display: inline-block;
        padding: 0px 5px 0px 5px
    }
    &.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
        display: inline-block;
        padding: 0px 5px
    }
    &.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
        //background-color: #d8eafd
    }
    &.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
        //border-right: 1px solid #c2e0ff
    }
    &.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
        //border-left: 1px solid #c2e0ff
    }
    &.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
        padding-bottom: 3px;
        padding-left: 3px
    }
    &.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
        top: 5px;
        padding-bottom: 5px;
        padding-left: 3px
    }
    .ng-clear-wrapper {
        color: #999
    }
    .ng-clear-wrapper .ng-clear:hover {
        color: #D0021B
    }
    .ng-spinner-zone {
        padding-right: 5px;
        padding-top: 5px
    }
    .ng-arrow-wrapper {
        padding-right: 20px;
        width: 25px;
        /* margin-top:  3px; */
    }
    .ng-arrow-wrapper .ng-arrow {
        border-color: #424242 transparent transparent;
        border-style: solid;
        border-width: 5px 5px 2.5px;
    }
    .ng-arrow-wrapper .ng-arrow:hover {
        border-top-color: #666
    }
    .ng-dropdown-panel {
        background-color: #fff;
        /* border: 1px solid #ccc; */
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    }
    .ng-dropdown-panel.ng-select-bottom {
        top: 100%;
        /* border-bottom-right-radius: 4px; */
        /* border-bottom-left-radius: 4px; */
        /* border-top-color: #e6e6e6; */
        margin-top: 5px;
        border-radius: 5px;
        font-size: 13px;
        font-weight: 300;
        -webkit-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -moz-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    .ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px
    }
    .ng-dropdown-panel.ng-select-top {
        bottom: 100%;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-color: #e6e6e6;
        margin-bottom: -1px
    }
    .ng-dropdown-panel.ng-select-top .ng-dropdown-panel-items .ng-option:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px
    }
    .ng-dropdown-panel .ng-dropdown-header {
        border-bottom: 1px solid #ccc;
        padding: 5px 7px
    }
    .ng-dropdown-panel .ng-dropdown-footer {
        border-top: 1px solid #ccc;
        padding: 5px 7px
    }
    .ng-dropdown-panel .ng-dropdown-panel-items {
        /* margin-bottom: 1px */
        border: 0;
        border-radius: 5px;
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
        user-select: none;
        cursor: default;
        padding: 8px 10px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54);
        cursor: pointer
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
        cursor: default
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
        background-color: #ebf5ff
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected {
        background-color: #f5faff;
        font-weight: 600
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.87);
        padding: 8px 20px;
        border-bottom: 1px solid #f6f6f6;
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
        color: #333;
        background-color: #f5faff
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label {
        font-weight: 600
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
        //background-color: #ebf5ff;
        background: #f6f6f6;
        color: #333
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
        color: #cccccc
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
        padding-left: 22px
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
        padding-right: 5px;
        font-size: 80%;
        font-weight: 400
    }
}