html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -5px;
    left: auto;
}

nouislider.ng2-nouislider {
  margin: 0;
}

.noUi-target {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background: #fff;
    height: 3px;
    input.middle:focus {
        outline-width: 0;
    }
}

.noUi-target .noUi-background {
    background: #fff;
    border-radius: 0;
}

.noUi-target .noUi-connect {
    box-shadow: none;
    background: #ff5252;
}

.noUi-target .noUi-handle {
    top: -4px;
    left: -9px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 0;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.32);
    -webkit-transition: all 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -moz-transition: all 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.noUi-target .noUi-handle.noUi-active {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.noUi-target .noUi-handle:before,
.map-filter-box .price-box .noUi-target .noUi-handle:after {
    display: none;
}

.noUi-handle.noUi-active {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.noUi-handle:after,
.properties-filters .filter-block-item .price-box .noUi-handle:before {
    display: none;
}