$radio-height:15px;
$radio-width:15px;
$color:#424242;
/* The my-radio */

.my-radio {
    display: block;
    position: relative;
    padding-left: 25px;
   // margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
}

/* Hide the browser's default radio button */

.my-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.my-radio .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: $radio-height;
    width: $radio-width;
    background-color: white;
    border-radius: 50%;
    border-width: 2px;
}

/* On mouse-over, add a grey background color */

.my-radio:hover input~.checkmark {
    // background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.my-radio input:checked~.checkmark {
    background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.my-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.my-radio input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.my-radio .checkmark:after {
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $color;
}