<form [formGroup]="searchForm" class="search-panel">


    <div class="box-caption box-item">
        <h4>Search</h4>
        <p>Where are you looking?</p>
    </div>

    <ng-select class="box-item ng-select-them-gray" [clearable]=false [searchable]=false [items]="countryList"
        bindLabel="name" bindValue="id" labelForId="state" placeholder="Select country" clearAllText="Clear"
        formControlName="country">
    </ng-select>

    <ng-select class="box-item ng-select-them-gray" [clearable]=false [searchable]=false [items]="cityList"
        bindLabel="name" bindValue="id" labelForId="state" placeholder="Select city" clearAllText="Clear"
        notFoundText="Please, select country at first" formControlName="city">
    </ng-select>

    <div class=" bath-group">
        <input class=" filter-box-input" type="text" placeholder="Min rooms"
            [ngClass]="{'has-value':searchForm.controls['minRooms'].value!=null && searchForm.controls['minRooms'].value.length>0}"
            formControlName="minRooms">
        <div class="border-inline"></div>
        <input class="  filter-box-input" type="text" placeholder="Max rooms"
            [ngClass]="{'has-value':searchForm.controls['maxRooms'].value !=null && searchForm.controls['maxRooms'].value.length>0}"
            formControlName="maxRooms">
    </div>


    <div class="price-box box-item">
        <p class="caption">
            <span>Price</span> ($
            <span class="min">{{searchForm.controls['priceRange'].value[0]}}</span> - $
            <span class="max">{{searchForm.controls['priceRange'].value[1]}}</span>)</p>
        <nouislider [connect]="true" [min]="0" [max]="100" [step]="1" [config]="someRange2config"
            [formControl]="searchForm.controls['priceRange']"></nouislider>
        <div class="price-limits">
            <span class="lower">$0</span>
            <span class="upper">$20 000</span>
        </div>
    </div>
    <a (click)="updatSearchResult()" class="qw-button qw-red find-property">Find Property</a>


</form>