.search-panel {
    display: block;
    background: url("/assets/pattern-1.png");
    padding: 60px 40px 60px;

    .border-inline {
        width: 22px;
    }


    .bath-group {
        display: flex;
        //justify-content: space-between;

        input {
            flex: 1;
        }
    }

    .box-caption {
        h4 {
            margin: 0;
            color: #616161;
            font-size: 23px;
            line-height: 1em;
            font-weight: 500;
        }

        p {
            margin: 0;
            color: #8c8c8c;
            font-size: 14px;
            font-weight: 300;
        }
    }

    .price-limits {
        .upper {
            float: right;
        }
    }

    .find-property {
        margin-top: 30px;
        width: 150px;
    }

    .price-box {
        font-size: 12px;
        font-weight: 500;
        font-style: normal;

        .caption {
            margin-left: 20px;
        }

        .price-limits {
            margin-top: 9px;
        }
    }

    .box-item {
        margin-bottom: 20px;
    }

    .left-box-input.filter-box-input {
        margin-right: 10px;
    }

    .filter-box-input {
        margin: 0 0 20px;
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        color: #454545;
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        padding: 12px 20px;
        transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -webkit-appearance: none;
        border: 0;
    }

    .filter-box-input.has-value {
        background: #fff;
    }
}

// .ng-autocomplete-dropdown {
//     position: relative;
//     margin-top: 25px;
//     height: 200px;
//     .ng-autocomplete-inputs {
//         position: relative;
//         input {
//             width: 100%;
//             padding: 6px 20px;
//             font-family: Arial;
//             font-weight: normal;
//             outline: none !important;
//             font-size: 15px;
//             height: 56px;
//             border: 1px solid #e0e0e0;
//         }
//     }
//     .ng-autocomplete-placeholder {
//         display: none;
//         // position: absolute;
//         // margin: 3px;        
//         // padding: 17px 18px;
//         // font-family: Arial;
//         // font-weight: normal;
//         // font-size: 15px;
//         // width: calc(100% - 4px);
//     }
//     .ng-dropdown {
//         display: none;
//         border: 1px solid #e0e0e0;
//         z-index: 99999;
//         max-height: 280px;
//         overflow-x: hidden;
//         position: absolute;
//         width: 100%;
//         &.open {
//             display: block;
//         }
//     }
//     .dropdown-item {
//         width: 100%;
//         cursor: pointer;
//         padding: 18px 20px;
//         font-family: Arial;
//         font-weight: normal;
//         font-size: 15px;
//         height: 56px;
//         background-color: #ffffff;
//         border-bottom: 1px solid #f6f6f6;
//         &.active{
//             background: #f6f6f6;
//         }
//     }
// }
// .ng-autocomplete-dropdown .ng-dropdown .dropdown-item .dropdown-item-highlight {
//     font-weight: bold;
// }
// .ng-autocomplete-dropdown-icon {
//     display: block;
//     width: 56px;
//     text-align: center;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     border-left: 1px solid #e0e0e0;
//     cursor: pointer;
//     z-index: 999;
//     font-size: 12px;
//     color: #758694;
//     padding: 21px 0;
//     &:after {
//         content: '';
//         display: block;
//         width: 0;
//         height: 0;
//         border-left: 7px solid transparent;
//         border-right: 7px solid transparent;
//         border-top: 7px solid #000;
//         position: absolute;
//         right: 21px;
//         z-index: 999;
//         top: 24px;
//     }
//     &.open:after {
//         transform: rotate(180deg);
//     }
// }