.search-page {
    display: flex;
}

app-search-panel {
    min-width: 350px;
    border-right: 6px solid #fff;
}

app-map-component {
    background-color: gray;
    width: 100%;
}

ng-select {
    font-size: 14px;
    font-weight: 400;
}

.property-list {
    margin-top: 7px;

    .property-item {
        flex: 20%;
        max-width: 20%;
        padding: 0 4px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 1600px) {
    .property-list .property-item {
        flex: 25%;
        max-width: 25%;
    }
}

@media screen and (max-width: 1200px) {
    .property-list .property-item {
        flex: 33.33%;
        max-width: 33.33%;
    }
}

@media screen and (max-width: 800px) {
    .property-list .property-item {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .search-page {
        flex-direction: column;
    }

    app-search-panel {
        width: auto;
        border-right: 0;
        margin-bottom: 16px;
    }

    app-map-component {
        height: 400px;
        margin-bottom: 16px;
    }
}