<div class="search-page">
    <app-search-panel [(searchStatus)]="searchStatus"></app-search-panel>
    <app-map-component [searchResult]="searchStatus" [propertyList]="filteredPropertyList"
        (boundsChange)="mapBoundsChange($event)">
    </app-map-component>
</div>
\
<div class="property-list d-flex flex-wrap">
    <div *ngFor="let property of filteredPropertyList | slice:0:10" class="property-item">
        <app-property-card [property]="property"></app-property-card>
    </div>
</div>